<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Welcome file (optional) -->
	<welcome-file-list>
	    <welcome-file>HTML/TopPage.html</welcome-file>
	</welcome-file-list>


    <!-- LoginServlet mapping -->
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>ticket.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LoginServlet</servlet-name>
	    <url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<!-- LoginPage.jsp mapping -->
	<servlet>
	    <servlet-name>loginpage</servlet-name>
	    <jsp-file>/WEB-INF/JSP/LoginPage.jsp</jsp-file>
	    <!-- TopPage→Servlet→LoginPageのロジックができたら/WEB-IF/JSPを追記 -->
	</servlet>
	<servlet-mapping>
	    <servlet-name>loginpage</servlet-name>
	    <url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
    <!-- エラーページの設定 -->
    <!-- <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/JSP/ErrorPage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/JSP/ErrorPage.jsp</location>
    </error-page> -->

    <!-- LoginFilter mapping (ログイン状態をチェックするフィルター) -->
    <!-- <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/24AkiC/*</url-pattern>
    </filter-mapping> -->
    
	<servlet>
	    <servlet-name>TopPageServlet</servlet-name>
	    <servlet-class>ticket.TopPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>TopPageServlet</servlet-name>
	    <url-pattern>/TopPageServlet</url-pattern>
	</servlet-mapping>    
	
	<servlet>
		<servlet-name>MainToDoServlet</servlet-name>
		<servlet-class>ticket.MainToDoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainToDoServlet</servlet-name>
		<url-pattern>/MainToDoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>GetTicketDetailServlet</servlet-name>
        <servlet-class>ticket.GetTicketDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetTicketDetailServlet</servlet-name>
        <url-pattern>/GetTicketDetailServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>CreateTicketServlet</servlet-name>
    	<servlet-class>ticket.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CreateTicketServlet</servlet-name>
    	<url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>FixOrCreateTicketServlet</servlet-name>
    	<servlet-class>ticket.FixOrCreateTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>FixOrCreateTicketServlet</servlet-name>
    	<url-pattern>/FixOrCreateTicketServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>ResetPasswordServlet</servlet-name>
    	<servlet-class>ticket.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ResetPasswordServlet</servlet-name>
    	<url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>ResetPasswordResult</servlet-name>
    	<jsp-file>/WEB-INF/JSP/ResetPasswordResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ResetPasswordResult</servlet-name>
    	<url-pattern>/ResetPasswordResult</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>CreateUserServlet</servlet-name>
    	<servlet-class>ticket.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CreateUserServlet</servlet-name>
    	<url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>SearchTicketServlet</servlet-name>
    	<servlet-class>ticket.SearchTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>SearchTicketServlet</servlet-name>
    	<url-pattern>/SearchTicketServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>ImportanceToDoServlet</servlet-name>
    	<servlet-class>ticket.ImportanceToDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ImportanceToDoServlet</servlet-name>
    	<url-pattern>/ImportanceToDoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>ticket.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>DeleteTicketServlet</servlet-name>
    	<servlet-class>ticket.DeleteTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>DeleteTicketServlet</servlet-name>
    	<url-pattern>/DeleteTicketServlet</url-pattern>
    </servlet-mapping>
</web-app>
